<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title=meta.title
body(style="text-align:center; font-family: verdana;")
  h1=meta.title
  div
      span=meta.date
      span=meta.author
  div
    |start at the
    a(href="/")=" root"

    section
      !=content