<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="")
    meta(name="author" content="")
    title=data.config.siteTitle
    link(href="/css/bootstrap.min.css" rel="stylesheet")
    link(href="/css/narrow-jumbotron.css" rel="stylesheet")
  body(style="background: #f9f9f9")
    div(class="container")
      div(class="header clearfix")
        nav
          ul(class="nav nav-pills float-right")
            each item,cnt in data.config.menu
              li(class="nav-item")
                a(class="nav-link" href=item.link)=item.name
        h3(class="text-muted" style="font-weight: 700")=data.config.siteTitle

      block content

      hr

      <div id="disqus_thread"></div>
      <script type="text/javascript">
          | var disqus_shortname = 'josemagana';
          | var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          | dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          | document.getElementsByTagName('head')[0].appendChild(dsq)
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
      </noscript>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

      footer(class="footer")
        p!="Powered by Jonaki"

